{% extends  'main/base.html'  %}
{% block title  %}
{{title}}
{% endblock  %}

{% block content  %}
    <h1>Cтраница про нас</h1>
    <br>
    <p>Сайт разработан в рамках Выпускной квалификационной работы в 2022г., студентом кафедры «Информатика и технология программирования», направление «Информатика и вычислительная техника», группы ВВТ-406.  Волжского политехнического института (филиала) федерального государственного бюджетного образовательного учреждения высшего образования «Волгоградский государственный технический университет».</p>
    <h3>Контактные данные:</h3>
    <p>Репин Ярослав Андреевич</p>
    <p>+79616653350</p>
    <p>repin.yaroslaw@gmail.com</p>
{% endblock  %}

