{% extends  'main/base.html'  %}
{% block title  %}
    {{ title }}
{% endblock  %}

{% block content  %}
    <h1>Cтраница рецепта</h1>
    <div class="row">
                <div class="col-4">
                  <img class="infoimg" src="">
                </div>
                <div class="col-8">
                  <h1></h1>
                  <br>
                  <h5>Ингредиенты</h5>
                  <p></p>
                  <h5>Сложность приготовления</h5>
                  <p></p>
                  <h5>Время приготовления</h5>
                  <p> </p>
                    <h5>Цена</h5>
                  <p> </p>
                  <a href=""><button class="btn btn-warning">Добавить в избранное</button></a>
                </div>
           </div>
           <br>
           <br>
           <h5>Описание блюда</h5>
        </div>
{% endblock %}